In [239]:
import pandas as pd
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [240]:
# 1. How many men and women (sex feature) are represented in this dataset?
# 1. Có bao nhiêu nam và nữ (đặc điểm giới tính) được thể hiện trong bộ dữ liệu này?
import pandas as pd
# Tạo DataFrame từ dữ liệu
columns = ["age", "sex"]
df = pd.DataFrame(data, columns=columns)
# Đếm số lần xuất hiện của mỗi giới tính
so_luong_gioi_tinh = df["sex"].value_counts()
print(so_luong_gioi_tinh)

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [241]:
# 2. What is the average age (age feature) of women? 2. Độ tuổi trung bình (đặc điểm tuổi) của phụ nữ là bao nhiêu?
import pandas as pd
# # Create a DataFrame from the data
# Calculate the average age of women
average_age_women = df[df["sex"] == "Female"]["age"].mean()
print(average_age_women)

36.85823043357163

In [242]:
# 3. What is the percentage of German citizens (native-country feature)?# Tỷ lệ công dân Đức (đặc điểm dân tộc bản xứ) là bao nhiêu?
# Tính tổng số người và số người là công dân Đức
total_individuals = len(data)
german_citizens = len(data[data['native-country'] == 'Germany'])

# Tính tỷ lệ của công dân Đức
percentage_german_citizens = (german_citizens / total_individuals) * 100

print("Tỷ lệ công dân Đức:", percentage_german_citizens)

Tỷ lệ công dân Đức: 0.42074874850281013

In [243]:
# 4-5. What are the mean and standard deviation of age for those
# who earn more than 50K per year (salary feature) and those who earn less than 50K per year?
# Giá trị trung bình và độ lệch chuẩn của tuổi đối với những người
# người kiếm được hơn 50K mỗi năm (tính năng lương) và những người kiếm được ít hơn 50K mỗi năm?
grouped = data.groupby('salary')['age'].agg(['mean', 'std'])
print(grouped)

        mean   std
salary
<=50K  36.78 14.02
>50K   44.25 10.52

In [244]:
# 6. Có đúng là những người kiếm được hơn 50 nghìn đều có trình độ học vấn ít nhất là trung học? (
# giáo dục – tính năng Cử nhân, Prof-school, PGS, PGS, PGS, Thạc sĩ hoặc Tiến sĩ)
# Kiểm tra xem có đúng là những người kiếm nhiều (>50K) ít nhất có bằng cấp cao trung học?
# result = df[df["salary"] == ">50K"]["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]).all()
# print("Có đúng là những người kiếm nhiều (>50K) ít nhất có bằng cấp cao trung học?", result)
import pandas as pd
df = pd.DataFrame(data, columns=["salary", "education"])
columns = ["salary", "education"]
df[(df["salary"]==">50K")&(df["education"]=="HS-grad")]["salary"].value_counts()

salary
>50K    1675
Name: count, dtype: int64

In [245]:
# 7. Display age statistics by race (race feature) and each sex (gender feature). 
# Use groupby() and describe(). Find the maximum age of males of the Amer-Indian-Eskimo race.
# Nhóm dữ liệu theo 'race' và 'sex', và tính thống kê về độ tuổi bằng hàm describe()
thong_ke_tuoi = data.groupby(['race', 'sex'])['age'].describe()

# Hiển thị thống kê về độ tuổi theo từng chủng tộc và giới tính
print(thong_ke_tuoi)

# Tìm độ tuổi tối đa của nam giới thuộc chủng tộc Amer-Indian-Eskimo
do_tuoi_max_nam_amerindian = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()
print("Độ tuổi tối đa của nam giới chủng tộc Amer-Indian-Eskimo:", do_tuoi_max_nam_amerindian)

                              count  mean   std   min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female    119.00 37.12 13.11 17.00 27.00 36.00 46.00 80.00
                   Male      192.00 37.21 12.05 17.00 28.00 35.00 45.00 82.00
Asian-Pac-Islander Female    346.00 35.09 12.30 17.00 25.00 33.00 43.75 75.00
                   Male      693.00 39.07 12.88 18.00 29.00 37.00 46.00 90.00
Black              Female  1,555.00 37.85 12.64 17.00 28.00 37.00 46.00 90.00
                   Male    1,569.00 37.68 12.88 17.00 27.00 36.00 46.00 90.00
Other              Female    109.00 31.68 11.63 17.00 23.00 29.00 39.00 74.00
                   Male      162.00 34.65 11.36 17.00 26.00 32.00 42.00 77.00
White              Female  8,642.00 36.81 14.33 17.00 25.00 35.00 46.00 90.00
                   Male   19,174.00 39.65 13.44 17.00 29.00 38.00 49.00 90.00
Độ tuổi tối đa của nam giới chủng tộc Amer-Indian-Eskimo: 82

In [246]:

#8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)?
# Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse),
# the rest are considered bachelors.
import pandas as pd
df = pd.DataFrame(data, columns=["salary", "marital-status"])
columns = ["salary", "marital-status"]
sum= len(df["marital-status"])
grouped_data = df.groupby(['salary'])
data=grouped_data.get_group((">50K"))
gr=len(df[df["marital-status"].str.startswith("Married")])
phantramnguoicogiadinh=gr/sum
phantramnguoidocthan=(sum-gr)/sum
kq=phantramnguoidocthan-phantramnguoicogiadinh
pd.set_option("display.precision", 2)
print("độ chênh lệch:",kq)

độ chênh lệch: 0.053038911581339665

In [247]:
# 9. Số giờ tối đa một người làm việc mỗi tuần (tính năng giờ mỗi tuần) là bao nhiêu? Có bao nhiêu người làm việc với số giờ như vậy 
# và tỷ lệ những người kiếm được nhiều (>50 nghìn) t
# rong số đó là bao nhiêu?
ax_hours_per_week = data['hours-per-week'].max()
people_with_max_hours = data[data['hours-per-week'] == max_hours_per_week]
rich_people_with_max_hours = people_with_max_hours[people_with_max_hours['salary'] == '>50K']
percentage_rich = (len(rich_people_with_max_hours) / len(people_with_max_hours)) * 100

print("Giờ làm nhiều nhất mỗi tuần:", max_hours_per_week)
print("Số người làm việc " + str(max_hours_per_week) + " giờ mỗi tuần:", len(people_with_max_hours))
print("Số người có thu nhập >50K trong số họ:", len(rich_people_with_max_hours))
print("Tỷ lệ người có thu nhập >50K trong số họ: {:.2f}%".format(percentage_rich))

KeyError: 'hours-per-week'

In [ ]:
# 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) 
# for each country (native-country). What will these be for Japan?
average_hours_per_week = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
average_hours_japan = average_hours_per_week.loc['Japan']

print("Số giờ trung bình mỗi tuần cho người có thu nhập <=50K tại Nhật Bản:", average_hours_japan['<=50K'])
print("Số giờ trung bình mỗi tuần cho người có thu nhập >50K tại Nhật Bản:", average_hours_japan['>50K'])

Số giờ trung bình mỗi tuần cho người có thu nhập <=50K tại Nhật Bản: 41.0
Số giờ trung bình mỗi tuần cho người có thu nhập >50K tại Nhật Bản: 47.958333333333336