In [22]:
import pandas as pd

In [23]:


df = pd.DataFrame({
    'matruong': ['s001','s002','s003','s001','s002','s004'],
    'lop': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'ten': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'ngaysinh': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'cannang': [35, 32, 33, 30, 31, 32],
    'diachi': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})

In [24]:
df.head()

  matruong lop             ten    ngaysinh  cannang   diachi t_id
0     s001   V  Alberto Franco  15/05/2002       35  street1   t1
1     s002   V    Gino Mcneill  17/05/2002       32  street2   t2
2     s003  VI     Ryan Parkes  16/02/1999       33  street3   t3
3     s001  VI    Eesha Hinton  25/09/1998       30  street1   t4
4     s002   V    Gino Mcneill  11/05/2002       31  street2   t5

In [25]:
# Câu 01: Write a Pandas program to display the default index and set a column as an index in a given dataframe
df1=df.set_index('t_id')

In [26]:
# Câu 02: Write a Pandas program to create a multi index frame using two columns and using an index and a column.
df2=df.set_index(['lop','t_id'])
print(df2)
print('-----------------------------------------------------------------')
df3=df.set_index([pd.Index([1,2,3,4,5,6]),'t_id'])
print(df3)

         matruong             ten    ngaysinh  cannang   diachi
lop t_id
V   t1       s001  Alberto Franco  15/05/2002       35  street1
    t2       s002    Gino Mcneill  17/05/2002       32  street2
VI  t3       s003     Ryan Parkes  16/02/1999       33  street3
    t4       s001    Eesha Hinton  25/09/1998       30  street1
V   t5       s002    Gino Mcneill  11/05/2002       31  street2
VI  t6       s004    David Parkes  15/09/1997       32  street4
-----------------------------------------------------------------
       matruong lop             ten    ngaysinh  cannang   diachi
  t_id
1 t1       s001   V  Alberto Franco  15/05/2002       35  street1
2 t2       s002   V    Gino Mcneill  17/05/2002       32  street2
3 t3       s003  VI     Ryan Parkes  16/02/1999       33  street3
4 t4       s001  VI    Eesha Hinton  25/09/1998       30  street1
5 t5       s002   V    Gino Mcneill  11/05/2002       31  street2
6 t6       s004  VI    David Parkes  15/09/1997       32  street4

In [36]:
# Câu 03: Write a Pandas program to display the default index and set a column as an index in a given dataframe and then reset the index.
df4= df.set_index('t_id')
print(df4)   
print('-----------------------------------------------------------------')
df5 =df4.reset_index(inplace=False)
print(df5)

     matruong lop             ten    ngaysinh  cannang   diachi
t_id
t1       s001   V  Alberto Franco  15/05/2002       35  street1
t2       s002   V    Gino Mcneill  17/05/2002       32  street2
t3       s003  VI     Ryan Parkes  16/02/1999       33  street3
t4       s001  VI    Eesha Hinton  25/09/1998       30  street1
t5       s002   V    Gino Mcneill  11/05/2002       31  street2
t6       s004  VI    David Parkes  15/09/1997       32  street4
-----------------------------------------------------------------
  t_id matruong lop             ten    ngaysinh  cannang   diachi
0   t1     s001   V  Alberto Franco  15/05/2002       35  street1
1   t2     s002   V    Gino Mcneill  17/05/2002       32  street2
2   t3     s003  VI     Ryan Parkes  16/02/1999       33  street3
3   t4     s001  VI    Eesha Hinton  25/09/1998       30  street1
4   t5     s002   V    Gino Mcneill  11/05/2002       31  street2
5   t6     s004  VI    David Parkes  15/09/1997       32  street4